.book{
    margin-left: 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
.img{
    width: 350px;
    height: 500px;
}
.info{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 50px;
}
.name{
    font-size: 40px;
    padding-bottom: 10px;
}
.author{
    font-size: 30px;
    padding-bottom: 10px;
}
.genre{
    font-size: 22px;
    padding-bottom: 10px;
}
.des{
    font-size: 18px;
    padding-bottom: 10px;
}
.description{
    margin-bottom: 40px;
}