<div class="loader" *ngIf="loading"></div>
<div *ngIf="!loading">
<div class="header">
    <h1 class="H1">Internacional Bestseller Books</h1>
</div>
 <hr>
 <div class="books">
 <div *ngFor="let book of bestsellerBooks"> 
    <a [routerLink]="['/book', book.bookId]">
    <div class="book">
     <div> <img class="img" [src]="book.picture"> </div>
     <div class="info">
     <div style="font-weight: bold;">{{book.bookName}}</div>
     <br>
     <div>{{book.author}} </div>
     <br>
     <div>{{book.genre?.name}}</div>
   </div>
 </div>
    </a>
 </div>
 </div>